<section class="bg-[#16161e] relative min-h-[100vh]">
  <mat-sidenav-container class="bg-transparent user-navbar-content">
    <mat-sidenav #snav class="user-content-sidebar" [mode]="'over'" [fixedInViewport]="true">
      <div class="w-full px-3 py-4 text-right">
        <button class="" mat-icon-button (click)="closeMenu()">
          <mat-icon class="text-first-theme">close</mat-icon>
        </button>
      </div>
      <mat-nav-list class="user-sidebar-element">
        <a class="sidebar-element" mat-list-item routerLink="/">Home</a>
        <a class="sidebar-element" mat-list-item routerLink="/hypnoproyecciones">Hypnoproyecciones</a>
        <a class="sidebar-element" mat-list-item routerLink="/user/make-dream">Subir hypnoproyeccion</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-user-header></app-user-header>
      <div class="pb-3 px-9">
        <router-outlet></router-outlet>
      </div>

      <div class="relative">
        <div class="h-full">
          <div class="fixed inset-0 z-10 w-full h-full pointer-events-none bg-[url('/img/dust-and-scratches-2.png')] bg-center bg-auto bg-repeat bg-scroll opacity-[0.1]"></div>
          <div class="fixed inset-0 z-10 w-full h-full pointer-events-none bg-repeat bg-dots-pattern bg-dots-size opacity-[0.3]"></div>
          <div class="fixed inset-0 z-10 w-full h-full pointer-events-none opacity-[0.06] bg-[url('/img/noise.gif')] "></div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
