<nav class="flex items-center justify-between py-2 font-bold px-9 text-first-theme nav-bar-user">
  <ul class="flex items-center gap-4">
    <li class="block md:hidden">
      <button class="px-0" mat-icon-button (click)="toggleMenu()">
        <mat-icon class="text-first-theme">menu</mat-icon>
      </button>
    </li>
    <li class="hidden md:block nav-item">
      <a  role="button"
          *ngIf="isAuthenticated$ | async"
          routerLink="/home"
          [ngClass]="{'select w-24 bg-white': home.isActive,
        'w-8': !home.isActive}"
          #home="routerLinkActive"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{exact:true}"
          class="group hover:w-24">
        <fa-icon [icon]="['fas','home']"></fa-icon>
        <span
        class="group-hover:visible group-hover:ease-in-out"
        [ngClass]="{'visible': home.isActive,
      'invisible': !home.isActive}"
        >Home</span>
    </a>
    </li>
    <li class="hidden md:block nav-item">
      <a role="button"
        *ngIf="isAuthenticated$ | async"
        [ngClass]="{'w-52 select bg-white': hypnoproyections.isActive,
        'w-8': !hypnoproyections.isActive}"
        #hypnoproyections="routerLinkActive"
        routerLink="/hypnoproyecciones"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        class="group hover:w-52">
        <fa-icon [icon]="['fas','cloud']"></fa-icon>
        <span class="group-hover:visible group-hover:ease-in-out"
        [ngClass]="{'visible': hypnoproyections.isActive,
      'invisible': !hypnoproyections.isActive}">Hypnoproyecciones</span>
      </a>
    </li>
    <li class="hidden md:block nav-item">
      <a role="button"
        *ngIf="isAuthenticated$ | async"
        [ngClass]="{'w-56 select bg-white': make_dream.isActive,
        'w-8': !make_dream.isActive}"
        #make_dream="routerLinkActive"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/user/make-dream"
        class="group hover:w-56">
        <fa-icon class="text-xl icon-brand" [icon]="['fas','circle-plus']"></fa-icon>
        <span
        class="group-hover:visible group-hover:ease-in-out"
        [ngClass]="{'visible': make_dream.isActive,
      'invisible': !make_dream.isActive}">Subir hypnoproyeccion</span>
      </a>
    </li>
  </ul>

  <!-- Right header -->
  <div class="flex justify-end gap-5 nav-item">
    <a role="button" routerLink="login" class="p-2 " *ngIf="isNotAuthenticated$ | async ">
      <span>Iniciar sesión</span>
    </a>
    <a role="button" routerLink="presentation" *ngIf="isNotAuthenticated$ | async ">
      <span>Registrarse</span>
    </a>
    <!-- <a  role="button"
        class=""
        *ngIf="isAuthenticated$ | async">
        <fa-icon class="text-xl icon-brand" [icon]="['fas', 'user']"></fa-icon>
      <span
        class="group-hover:visible group-hover:ease-in-out"
        [ngClass]="{'visible': profile_router.isActive,
      'invisible': !profile_router.isActive}">Perfil</span>
    </a> -->
    <button mat-fab extended  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="w-24 p-2 select group hover:bg-white button-options" title="Marcello" *ngIf="isAuthenticated$ | async">
      <mat-icon>more_vert</mat-icon>
      <span>{{ userInfo?.name }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button class="options-items" routerLink="login" mat-menu-item (click)="closeSession()"  *ngIf="isNotAuthenticated$ | async ">
        <mat-icon>notifications_off</mat-icon>
        <span>Iniciar session</span>
      </button>
      <button class="options-items" routerLink="presentation" mat-menu-item (click)="closeSession()"  *ngIf="isNotAuthenticated$ | async ">
        <mat-icon>notifications_off</mat-icon>
        <span>Registrarse</span>
      </button>
      <button class="" mat-menu-item (click)="closeSession()" >
        <mat-icon>notifications_off</mat-icon>
        <span>Cerrar session</span>
      </button>
    </mat-menu>



  </div>
</nav>
