<section>
  <div
  class="grid max-w-screen-xl grid-cols-1 px-8 py-16 mx-auto text-first-theme ">
  <form class="col-span-1 m-auto w-[30rem]" [formGroup]="form" (ngSubmit)="saveHypnoproyection()">

    <div class="m-auto">
      <img class="h-20 mx-auto mb-5" src="/img/icon-proyect.png" alt="">
    </div>

    <div class="mb-8 text-center">
      <h2 class="mt-6 mb-2 text-3xl font-extrabold text-first-theme">Comentanos tu sueño</h2>
      <p>y vive la experiencia</p>
    </div>

    <div>
      <span class="text-sm font-bold uppercase text-first-theme">Titulo</span>
      <input class="w-full p-3 mt-2 text-white bg-transparent border-2 border-first-theme focus:outline-none focus:shadow-outline"
        type="text" placeholder="" formControlName="title">
    </div>
    <div class="mt-8">
      <span class="text-sm font-bold uppercase text-first-theme">Etiquetas</span>
      <input class="w-full p-3 mt-2 text-white bg-transparent border-2 border-first-theme focus:outline-none focus:shadow-outline" formControlName="tags" type="text">
    </div>
    <div class="mt-8">
      <span class="text-sm font-bold uppercase text-first-theme">Descripción</span>
      <textarea
        class="w-full h-32 p-3 mt-2 text-white bg-transparent border-2 border-first-theme border-2s focus:outline-none focus:shadow-outline" formControlName="message"></textarea>
    </div>
    <div class="mt-8">
      <button
        class="w-full p-3 text-sm font-bold tracking-wide text-gray-100 uppercase  rounded-lg focus:outline-none focus:shadow-outline bg-[#c99434]" type="submit">
        Crear sueño
      </button>
    </div>
  </form>
</div>

</section>
