<div class="p-8 bg-[#16171d]">



  <form class="content-center justify-center h-screen align-middle border border-yellow-500 p-14 justify-items-center">
    <div>
      

    </div>

    <div class="max-w-[30rem] w-full">
      <div class="mb-4 ">
        <label class="block mb-2 text-sm font-bold text-yellow-500" for="usuario">USUARIO</label>
        <input class="w-full px-3 py-2 text-white rounded bg-[#16171d] border border-yellow-500 glow focus:outline-none focus:ring-2 focus:ring-yellow-500" id="usuario" type="text" placeholder="Ingresa tu usuario">
    </div>
    <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-yellow-500" for="password">CONTRASEÑA</label>
        <input class="w-full px-3 py-2 text-white rounded bg-[#16171d] border border-yellow-500 glow focus:outline-none focus:ring-2 focus:ring-yellow-500" id="password" type="password" placeholder="Ingresa tu contraseña">
    </div>
    <div class="flex items-center justify-between">
        <button class="px-4 py-2 font-bold text-white bg-yellow-500 rounded hover:bg-yellow-700 focus:outline-none focus:shadow-outline" type="button">
            Iniciar Sesión
        </button>
    </div>
    </div>
  </form>
</div>
