<h1 mat-dialog-title class="text-center">Editar Hypnoproyección</h1>
<br>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')?.hasError('required')">El titulo del sueño es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Mensaje</mat-label>
      <textarea matInput formControlName="message"></textarea>
      <mat-error *ngIf="form.get('message')?.hasError('required')">El mensaje es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Etiquetas</mat-label>
      <input matInput formControlName="tags">
      <mat-error *ngIf="form.get('tags')?.hasError('required')">Las etiquetas son requeridas</mat-error>
    </mat-form-field>
    <span class="text-gray-500">Ejemplo 1, ejemplo 2</span>
  </form>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</div>
