/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  body {
    @apply bg-[#16161e];
  }

  /*--- Home styles ---*/
  .main-menu a.main-menu-item{
    @apply text-2xl font-bold underline transition-all md:text-2xl text-first-theme hover:text-3xl;
  }

  .main-menu .sub-item-accordion{
    @apply flex flex-col gap-1 pl-20 mt-5 ;
  }

  .main-menu .sub-item-accordion div > a{
    @apply mt-5 text-lg font-bold cursor-pointer hover:text-xl text-first-theme;
  }
}

@layer utilities {


  .scrolling-text-container:hover .scrolling-text {
    transform: translateX(-100%);
  }

  .fuzzy-overlay {
    animation: animate-gradient 0.5s linear infinite both;
    background-repeat: repeat;
    inset-area: -200%;
  }

  @keyframes animate-gradient{
    0% {
      transform: translateX(10%) translateY(10%);
    }
    100% {
      transform: translateX(-10%) translateY(-10%);
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
