

    <div class="flex flex-col gap-10 p-12 border-4 border-first-theme h-[90vh] min-h-[30rem] justify-center main-menu">
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                class="cursor-default example-accordion-item"
                role="button"
                tabindex="0"
                [attr.id]="'accordion-header-' + 1"
                [attr.aria-expanded]="accordionItem.expanded">
          <div cla  ss="mb-3 cursor-pointer example-accordion-item-header" (click)="accordionItem.toggle()">
            <a class="main-menu-item">HYPNOPROYECCIONES</a>
          </div>
          <div
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + 1"
            [attr.aria-labelledby]="'accordion-header-' + 1">
            <div class="sub-item-accordion">
              <div class="my-1">
                <a href="/hypnoproyecciones">GALERIA DE SUEÑOS</a>
              </div>
              <div class="my-1">
                <a href="/user/make-dream">COMPARTE UN SUEÑO</a>
              </div>
              <div class="my-1">
                <a href="hypnoproyecciones">MIS SUEÑOS</a>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <a class="main-menu-item" href="/hypnoproyecciones">HYPNOVISION</a>
      <a class="main-menu-item" href="/hypnoproyecciones">SOBRE NOSOTOROS</a>
    </div>


