    <div class="flex flex-col gap-10 p-12  h-[90vh] min-h-[30rem]  main-menu">


      <img src="img/ProyectoRem.png" alt="" class="w-full mx-auto mb-10">

      <div class="flex flex-col justify-between gap-10 md:flex-row">
        <cdk-accordion class="example-accordion">
          <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  class="cursor-default example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-' + 1"
                  [attr.aria-expanded]="accordionItem.expanded">
            <div class="mb-3 cursor-pointer example-accordion-item-header" (click)="accordionItem.toggle()">
              <a class=" main-menu-item">HYPNOPROYECCIONES</a>
            </div>
            <div
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + 1"
              [attr.aria-labelledby]="'accordion-header-' + 1">
              <div class="sub-item-accordion">
                <div class="my-1">
                  <a routerLink="/hypnoproyecciones">GALERIA DE SUEÑOS</a>
                </div>
                <div class="my-1">
                  <a routerLink="/user/make-dream">COMPARTE UN SUEÑO</a>
                </div>
                <div class="my-1">
                  <a routerLink="/hypnoproyecciones">MIS SUEÑOS</a>
                </div>
              </div>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
        <a class="main-menu-item" href="/hypnovision">HYPNOVISION</a>
      </div>


      <img id="code-rust w-full" src="/img/rust.svg">

      <div class="flex flex-col items-center gap-5 md:flex-row">

        <img class="w-3/5 rounded-md" src="img/web-2.jpg" alt="">
      </div>

      <div class="text-white inner spread">
        <div class="marquee spread">
          <div class="horizontal-space _0-5"></div>
          <div class="text-block hide-mobile">
            <a href="https://www.instagram.com/corporacion_aura/" data-w-id="78b12638-6154-cc72-5b78-35ebac6efe41" target="_blank" class="link" style="opacity: 1; ">INSTAGRAM</a>
          </div>
          <div class="vertical-line"></div>
          <div class="text-block">
            <a href="https://youtube.com/@inconscientecolectivo-y7b?si=cxnGEGiEa5FpO4Ii" data-w-id="659344c5-2bc3-aca1-a0cd-dcb2cbdfd187" target="_blank" class="link" style="opacity: 1;">YOUTUBE</a>
          </div>
          <div class="vertical-line"></div>
          <div class="text-block">
            <a href="https://open.spotify.com/show/3DlIFAUELl24g5yngr5JGs?si=EoE7DCoMQ3OGr72De9SqpQ" data-w-id="2fd0b1a1-38b0-265a-d3b2-4651673b2534" target="_blank" class="link" style="opacity: 1;">SPOTIFY</a>
          </div>
          <div class="vertical-line"></div>
          <div class="horizontal-space _0-5"></div>
        </div>
      </div>

    </div>


